div#posts-section {
  color: white;
  background-color: #004699;
  padding-bottom: 30pt;
  margin-bottom: 50pt;
}
div#posts-section a {
  color: #9ebff7;
  text-decoration: underline;
}
div#posts-section a:hover {
  color: #3e80f0;
}
h2#section-title {
  font-family: 'Oswald', sans-serif;
  text-decoration: underline;
  padding-left: 22pt;
  margin-bottom: 20pt;
}
div.post {
  padding: 12pt 22pt;
  margin-bottom: 20pt;
  background-color: #00296f;
  font-family: 'PT Sans', sans-serif;
  border-left: 3pt solid white;
}
div.post > div.post-time > p {
  font-size: 110%;
  letter-spacing: 0.8pt;
  margin-bottom: 10pt;
}
div.post > div.post-tags {
  margin: 3pt 0;
}
div.post > div.post-tags > span{
  font-family: 'Oswald', sans-serif;
  display: inline-block;
  margin: 5pt 3pt;
  background-color: #004699;
  padding: 5pt 10pt;
  border-radius: 15pt;
  letter-spacing: 0.8pt;
}
div.post > div.post-content > p {
  font-size: 120%;
  letter-spacing: 0.8pt;
}