.hideme { display: none; }
.jumbotron {
  padding: 0 !important;
  margin: 0 !important;
}
.card {
  margin: 15pt 0;
}
.icon-container {
  text-align: center;
  margin: 10pt 0;
}
#software-engineer-icon {
  display: block;
  margin: 0 auto;
}

div#programming-skills {
  margin: 0;
  margin-top: 20pt;
  padding: 0;
  display: block;
  white-space: nowrap;
  overflow: auto;
  background-color: rgba(0, 47, 117, 0.8);
  background-image: url('./BGI/cross_sword_icon.png');
  background-size: 400px 400px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
}
div#programming-skills span {
  display: inline-block;
  width:   400px;
  height:  500px;
  text-align: center;
  margin: 0;
}
